{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>






<div>
test


   
</div>









{% schema %}
{
  "blocks": [
    {
      "name": "Featured-collection",
      "tag": "section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Featured collection",
          "label": "Main Titles"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Sub Ttiles"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "collection"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 6,
          "step": 1,
          "default": 4,
          "label": "Products"
        }
      ]
    }
  ]
}
{% endschema %}



<style>
.padding-collection{
  padding-top: 50px;
}
</style>