{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign products_to_display = block.settings.collection.all_products_count

 

-%}




{%- for block in section.blocks -%}
<div>
  <div class="collection padding-collection ">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">

      {%- if block.settings.title != blank -%}
        <h2 class="title ">{{ block.settings.title }}</h2>
      {%- endif -%}

      {%- if block.settings.description != blank -%}
        <div class="collection__description ">{{ block.settings.description }}</div>
      {%- endif -%}

    </div>


    <slider-component class="page-width page-width-desktop ">
      <ul  class="grid product-grid contains-card contains-card--standard grid--3-col-desktop">
        {%- for product in block.settings.collection.products limit: block.settings.products_to_show -%}
          <li id="" class="grid__item">
            {% render 'card-product',
              card_product: product,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>
     
    </slider-component>
</div>

{%- endfor -%}







{% schema %}
{
  "blocks": [
    {
      "name": "t:sections.featured-collection.name",
      "tag": "section",
      "class": "section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Featured collection",
          "label": "Main Titles"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Sub Ttiles"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 6,
          "step": 1,
          "default": 4,
          "label": "t:sections.featured-collection.settings.products_to_show.label"
        }
      ]
    }
  ]
}
{% endschema %}



<style>
.padding-collection{
  padding-top: 50px;
}
</style>